<div class="editPanel">
    <div class="container">
        <div class="search_pane">
            <div class="search_box">
                <select [(ngModel)]="selectedOrigin">
                    <option value="" disabled selected>from</option>
                    <option *ngFor="let result of filteredOriginList; let i=index" value={{result}}>
                        {{result}}</option>
                </select>
            </div>
            <div class="search_box">
                <select [(ngModel)]="selectedDestination">
                    <option value="" disabled selected>to</option>
                    <option *ngFor="let result of filteredDestinationList; let i=index" value={{result}}>
                        {{result}}</option>
                </select>
            </div>
            <div class="search_box">
                <button (click)="queryOriginDest()">Go</button>
            </div>
            <div class="search_input">
                <input #flightNumberSearch type="number" placeholder="search by flight number">
            </div>
            <div class="search_box">
                <button (click)="queryFlightNumber(flightNumberSearch.value)">Go</button>
            </div>
            <button class="util_button" (click)="resetFilter()">Reset Filter</button>
            <button class="util_button" routerLink="../create">&lt; Back to create</button>
        </div>
        <div class="table_container">
            <table class="flightTable" *ngIf="!loading else loadingMsg">
                <ng-container *ngIf="!!flightList.length else noFlightsMsg">
                    <thead>
                        <tr>
                            <th>origin</th>
                            <th>destination</th>
                            <th>flight #</th>
                            <th>depart</th>
                            <th>arrive</th>
                            <th>nonstop</th>
                            <th>update</th>
                            <th>delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let flight of pageSlice; let i=index">
                            <td>{{flight.origin}}</td>
                            <td>{{flight.destination}}</td>
                            <td>{{flight.flightNumber}}</td>
                            <td>{{flight.depart | date: 'short'}}</td>
                            <td>{{flight.arrive | date: 'short'}}</td>
                            <td>{{flight.nonstop}}</td>
                            <td><button class="update" (click)="updateFlight(flight)">go</button></td>
                            <td><button class="delete" (click)="deleteFlight(flight)">go</button></td>
                        </tr>
                    </tbody>
                </ng-container>
            </table>
    
            <mat-paginator [length]="flightList.length" [pageSize]="5" [pageSizeOptions]="[5, 10]"
                (page)="OnPageChange($event)">
            </mat-paginator>
        </div>
        
        <ng-template #noFlightsMsg>
            <div>NO FLIGHTS AVAILABLE</div>
        </ng-template>
        <ng-template #loadingMsg>
            <div>Loading...</div>
        </ng-template>

    </div>