.register_panel {
    font-family: "Inter", sans-serif;
    font-size: 1.1em;
    color: white;
    background-color: var(--main);
    box-shadow: 0px 0px 2px 1px gray;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 250px;
    padding: 5px;
    border-radius: 5px;

    .inner_container {
        margin: 0 auto;
    }
    form {
        display: flex;
        flex-direction: column;
        button {
            margin-top: 25px;
        }
    }
    h1 {
        font-family: "Sora", sans-serif;
        text-align: center;
    }
    input {
        width: 200px;
    }

    p {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .login_redirect {
        width: 188px;
        align-self: center;
    }

    button {
        font-family: "Sora", sans-serif;
        border-radius: 9px;
        border: none;
        height: 40px;
        font-size: 16px;
        background-color: #44889d;
        color: white;
        text-align: center;
        margin: 10px;
    }

    button:hover {
        cursor: pointer;
        background-color: #8d9b9f;
    }

    .errors {
        color: red;
        max-width: 200px;
        text-align: center;
        font-size: 12px;
        ul  {
            list-style: none;
            padding-inline-start: unset;
        }
    }

    .validation_errors {
        color: red;
        text-align: center;
        width: 200px;
        font-size: 12px;
    }
}
