<div class="login_panel">
    <h1>Login</h1>
    <div class="inner_container">
        <form #form="ngForm" (ngSubmit)="loginUser(form)">
            <p>Email:</p>
            <input type="text" name="email" ngModel>
            <p>Password:</p>
            <input type="password" name="password" ngModel>
            <div class="errors">
                <p>{{errors}}</p>
            </div>
            <button>Login</button>
        </form>
    </div>
    <button class="register_redirect" routerLink="../register">Register</button>
</div>