<div class="outer_container">

    <div class="big_container">
        <div class="top_bar">
            <span>Find Flights</span>
        </div>
        <div class="transparent_bg">
            <div class="container">
                <div class="search_pane">
                    <div class="search_box">
                        <select [(ngModel)]="selectedOrigin">
                            <option value="" disabled selected>from</option>
                            <option *ngFor="let result of filteredOriginList; let i=index" value={{result}}>{{result}}
                            </option>
                        </select>
                    </div>
                    <div class="search_box">
                        <select [(ngModel)]="selectedDestination">
                            <option value="" disabled selected>to</option>
                            <option *ngFor="let result of filteredDestinationList; let i=index" value={{result}}>
                                {{result}}</option>
                        </select>
                    </div>
                    <div class="search_box">
                        <button (click)="query()">Go</button>
                    </div>
                </div>
                <div class="flight_pane">
                    <ng-container *ngIf="!loading else loadingMsg">
                        <div class="flight_headers">
                            <div class="flight_number cell"> Flight # </div>
                            <div class="departs cell"> Departs </div>
                            <div class="arrives cell"> Arrives </div>
                            <div class="nonstop cell"> Nonstop </div>
                            <div *ngIf="authService.isAuthenticated" class="book cell"> Add to History </div>
                        </div>



                        <ng-container *ngIf="!!flights.length else noFlightsMsg">
                            <div *ngFor="let flight of pageSlice" class="flight_results">
                                <div class="flight_number cell"> {{flight.flightNumber}}</div>
                                <div class="departs cell"> {{flight.depart | date : 'short' }}</div>
                                <div class="arrives cell"> {{flight.arrive | date : 'short' }}</div>
                                <div class="nonstop cell"> {{flight.nonstop | yesNo }}</div>
                                <div *ngIf="authService.isAuthenticated" class="book_btn cell">
                                    <ng-container *ngIf="!checkBooked(flight.bookedBy!)">
                                        <button class="book_flight_btn" (click)="book(flight._id)">Add to My
                                            Flights</button>
                                    </ng-container>
                                </div>
                            </div>

                            <mat-paginator [length]="flights.length" [pageSize]="5" [pageSizeOptions]="[5, 10]"
                                (page)="OnPageChange($event)">
                            </mat-paginator>

                        </ng-container>

                        <ng-template #noFlightsMsg>
                            <div class="no_flights_msg">No flights loaded</div>
                        </ng-template>

                    </ng-container>

                    <ng-template #loadingMsg>
                        <div class="loading">Loading...</div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>