<div class="create_panel">
    <h1>Add a Flight</h1>
    <div class="inner_container">
        <form #form="ngForm" (ngSubmit)="sendFlight(form)">
            <p>Origin:</p>
            <input type="text" name="origin" ngModel>
            <p>Destination:</p>
            <input type="text" name="destination" ngModel>
            <p>Flight Number:</p>
            <input type="number" name="flightNumber" ngModel>
            <p>Depart:</p>
            <input type="datetime-local" name="depart" ngModel>
            <p>Arrive:</p>
            <input type="datetime-local" name="arrive" ngModel>
            <div class="checkbox">
                <p>Nonstop:</p>
                <input type="checkbox" name="nonstop" ngModel>
            </div>
            <button>Create Flight</button>
        </form>
    </div>
    <button class="edit_redirect" routerLink="../edit-panel"> Edit Flights </button>
</div>