.editPanel {
    font-family: Helvetica, sans-serif;
    margin: 10px auto;
    background-color: #ddd;
    border: 1px solid grey;
    box-shadow: 2px 2px 2px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    width: 90%;
    input {
        width: 90%;
    }
    @media screen and (max-width: 500px) {
        width: 90%;
    }
    padding: 5px;
    border-radius: 5px;

    .flightTable {
        font-size: 15px;
        border-collapse: collapse;
        th {
            text-transform: uppercase;
        }
        td {
            border: 1px solid black;
            padding: 8px;
        }
        @media screen and (max-width: 680px) {
            font-size: 10px;
            td {
                padding: 1px;
            }
        }
    }
    button {
        border: none;
        border-radius: 10px;
        text-transform: uppercase;
        padding: 6px;
    }
    button.update {
        background-color: gold;
    }

    button.delete {
        background-color: red;
    }
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .search_pane {
        margin-top: 20px;
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        .search_box {
            display: flex;
            flex-direction: column;
            margin-right: 10px;
            position: relative;
            select {
                position: relative;
                background-color: white;
                box-shadow: 2px 2px 2px grey;
                width: auto;
                height: 25px;
                font-size: 15px;
                @media screen and (max-width: 480px) {
                    font-size: 12px;
                }
            }
        }
        .search_input > input {
            border: none;
            box-shadow: 2px 2px 2px grey;
            margin-left: 20px;
            margin-right: 10px;
            width: auto;
            height: 25px;
            font-size: 15px;
        }
        .reset_button {
            margin-left: auto;
        }
        button {
            background-color: #415d65;
            border-radius: 5px;
            border: none;
            width: auto;
            font-size: 16px;
            padding: 5px;
            color: white;
        }

        button:hover {
            cursor: pointer;
            background-color: #8d9b9f;
        }
    }
}
