<div class="edit_form">
    <h1>Edit Flight</h1>
    <div class="inner_container">
        <form [formGroup]="form" (ngSubmit)="update()">
            <p>Origin:</p>
            <input type="text" name="origin" formControlName="origin">
            <ng-container *ngIf="form.get('origin')?.touched">
                <p *ngIf="form.get('origin')?.errors?.required" class="validation_errors">
                    Origin is required!
                </p>
            </ng-container>

            <p>Destination:</p>
            <input type="text" name="destination"  formControlName="destination">
            <ng-container *ngIf="form.get('destination')?.touched">
                <p *ngIf="form.get('destination')?.errors?.required" class="validation_errors">
                    Destination is required!
                </p>
            </ng-container>

            <p>Flight Number:</p>
            <input type="number" name="flightNumber" formControlName="flightNumber">
            <ng-container *ngIf="form.get('flightNumber')?.touched">
                <p *ngIf="form.get('flightNumber')?.errors?.required" class="validation_errors">
                    Flight Number is required!
                </p>
            </ng-container>

            <p>Departure:</p>
            <input type="datetime-local" name="depart" formControlName="depart">
            <ng-container *ngIf="form.get('depart')?.touched">
                <p *ngIf="form.get('depart')?.errors?.required" class="validation_errors">
                    Departure is required!
                </p>
            </ng-container>

            <p>Arrive:</p>
            <input type="datetime-local" name="arrive" formControlName="arrive">
            <ng-container *ngIf="form.get('arrive')?.touched">
                <p *ngIf="form.get('arrive')?.errors?.required" class="validation_errors">
                    Arrive is required!
                </p>
            </ng-container>

            <div class="checkbox">
                <p>Nonstop:</p>
                <input type="checkbox" name="nonstop" formControlName="nonstop">
            </div>
            <button>Edit Flight</button>
        </form>
    </div>
    <button class="edit_redirect" routerLink="../../edit-panel">Back to Edit Panel</button>
</div>