@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --main: #1A1A21
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    font-family: "Montserrat", sans-serif;
    height: 100px;
    background-color: var(--main);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 1px gray;
    .logo_box {
        img {
            height: 70px;
            width: 70px;
        }
        h1 {
            margin-left: 10px;
            font-weight: 700;
        }
        text-transform: uppercase;
        margin: 10px 20px;
        display: flex;
        align-items: center;
    }

    .link_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        a {
            margin: 10px 30px;
            height: 2.75rem;
            line-height: 2.75rem;
            padding: 0px 1.5rem;
            font-family: Sora, sans-serif;
            font-weight: 400;
            font-size: 1em;
            color: rgb(255, 255, 255);
            background-color: transparent;
            border: 3px solid #8d9b9f;
            border-radius: 2rem;
            display: flex;
            vertical-align: middle;
            text-decoration: none;
        }
        a:hover {
            cursor: pointer;
            background-color: #8d9b9f;
        }
        .active {
            background-color: #8d9b9f;
        }
    }
}

main {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: url("./assets/nils-nedel-ONpGBpns3cs-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


footer {
    height: 60px;
    background-color: var(--main);
}

@media screen and (max-width: 560px) {
    header {
        flex-direction: column;
        height: auto;

        .logo_box {
            align-self: center;
            margin-bottom: 0;
        }
    }
}
